
<!-- <mat-grid-list cols="2">
    <mat-grid-tile>
        <div id="registration">
            <h1>Create Account</h1>
            <form [formGroup]="registerForm">
                <div>
                    <mat-form-field appearance="outline"  class="form-value">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name" [class.is-invalid]="name?.invalid && name?.touched">
                        <mat-error *ngIf="name?.errors?.['required']">Name is Required</mat-error>
                        <mat-error *ngIf="name?.errors?.['minLength']">Minimum length is 5</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline"  class="form-value">
                        <mat-label>Phone Number</mat-label>
                        <input matInput type="text" formControlName="phoneNo" [class.is-invalid]="phoneNo?.invalid && phoneNo?.touched">
                        <mat-error *ngIf="phoneNo?.errors?.['required']">Phone Number is Required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline"  class="form-value">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" [class.is-invalid]="email?.invalid && email?.touched">
                        <mat-error *ngIf="email?.errors?.['required']">Email is Required</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline"  class="form-value">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" [class.is-invalid]="password?.invalid && password?.touched">
                        <mat-error *ngIf="password?.errors?.['required']">Password is Required</mat-error>
                        <mat-error *ngIf="password?.errors?.['pattern']">
                            Password should have min 8 letter password, with at least a symbol, upper and lower case letters
                            and a number.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline"  class="form-value">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" [class.is-invalid]="confirmPassword?.invalid && confirmPassword?.touched">
                        <mat-error *ngIf="confirmPassword?.errors?.['required']">Confirm Password is Required</mat-error>
                        <mat-error *ngIf="registerForm.errors?.['mustMatch']===false">
                            Password and Confirm Password should match.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="accent" id="save" (click)="openSnackBar()">Save</button>
                    <button mat-raised-button color="accent">Reset</button>
                </div>
            </form>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/images/wallpaper2you_95802.jpg" alt="">
    </mat-grid-tile>
</mat-grid-list>   -->
