/* .example-card {
    max-width: 400px;
}


mat-card {
    width: 400px;
    height: 700px;
}

mat-card-content {
    margin-top: 10px;
}

.content {
    padding: 16px;
}
.recommended{
    position: sticky;
    padding-top: 2.8%;
    top: 0;
    z-index: 1;
    text-align: center;
}

.recommendedLine{
    background-color: royalblue;
    background-size: auto;
    font-size: xx-large;
} */
.card-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    /* flex-wrap: wrap; */
}

.example-card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 10px;
}

.rowing {
    width: 100%;
    object-fit: contain;
    box-sizing: content-box;
    transition: transform 450ms;
}

.rowing:hover {
    transform: scale(1.08);
    cursor: pointer;
}

h1 {
    color: #69f0ae;
    margin-left: 20px;
    margin-top: 30px;
}

.poster {
    width: 200px;
    height: 300px;
}